:root,
* {
    padding: 0;
    margin: 0
}

li{list-style: none;}




.navbar {
    background-color: #588157;
    width: 100vw;
}
.navbar-links{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 48px;
    display: flex;
    align-items: center;
}

.banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}